.task-card {
  border-bottom: 1px solid rgb(154, 154, 154);
}

.task-card p {
  margin-bottom: 0px;
}

.see-more {
  font-size: 0.8rem;
  background: none;
  color: #007bff;
  border: none;
  cursor: pointer;
  padding: 0;
}
